@import "./common.scss";
.breadcrumb{
    background: transparent;
    padding: 0px;
    font-size: 10px;
    li{
        a{
            color:$primaryColor;
        }
    }
}
.breadcrumb-item+.breadcrumb-item::before{
    content: '>';
}