@import './common.scss';
.benefits_pointers{
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}
.pointers{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
}
.ntb_page .thanks_page{
    text-align: left;
}
.sorry_page{
    text-align: center;
    .sorry_box{
        position: absolute;
    }
    h3{
        font-size: 16px;
        font-weight: 600;
    }
    .sorry_cont {
        font-size: 16px;
    }
}
.accordion{
    border: none !important;
    .accordion__panel{
        padding: 0px 10px 10px;
    }
    p{
        color: $blacksecondary;
        line-height: 18px;
        font-size: 12px;
    }
    .accordion__button{
        background-color:$primaryColor;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        padding: 12px;
        &::before{
            position: absolute;
            right: 0px;
            top: 18px;
        }
        &:focus{
            outline: none;
        }
        &:hover{
            background-color: transparent;
        }
    }
    .accordion__item{
        border:1px solid $border-color;
        margin-bottom: 25px;
        border-radius: 5px;
    }
    .accordion__item + .accordion__item{
        border:1px solid $border-color;
    }
    
}


