$primaryColor: #fff;
$blackColor:#000;
$secondaryColor: rgba(0, 0, 0, 0.4);
$blacksecondary:rgba(0, 0, 0, 0.72);
$greenColor: #33A84D;
$blacklight: #1c1c1c;
$blackprimary: #000;
$font12: 12px;
$linkcolor:#2F80ED;
$disabledcolor:rgba(0, 0, 0, 0.5);
$redColor:#e12e2e;
$border-color:#cccccc;

.btn-primary{
    background-color: $greenColor;
    border-color: $greenColor;
    &:hover {
        color: #fff;
        background-color: $greenColor;
        border-color: $greenColor;
     }
}
.btn-secondary{
    background-color: $secondaryColor !important;
}
.btn-block{
    width: calc(100% + 48px);
    margin: 0 -24px;
}


button.view_all{
    color: #2F80ED;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: transparent;
    border:none;
    font-weight: 600;
}
.form_plan_new{
    .title_header{
    background: #1c1c1c;
    border-top:1px solid #fff;
    padding: 30px 0;
    h1{
        font-size: 34px;
        font-weight: bold;
        color: $primaryColor;
    }
    }
    .page_content{
        padding: 30px 0;
        background-color: #fff;
        text-align: left;
        .title_content{
            .ttl{
                font-size: 20px;
                color: $blackColor;
                font-weight: 600;
            }
            .cont{
                font-size: 12px;
                line-height: 18px;
                color: $secondaryColor;
                margin: 16px 0 31px;
            }
        }
    }
}
.generic_pages .footer_top{
    display: none;
}

@media (max-width:989px){
    .form_plan_new{
        .title_header,.page_content{
            padding:24px ;
        }
    }
}
