@import "./common.scss";
.footer{
    padding: 40px 0 0;
    position: relative;
    overflow-x: hidden;
    .footer_social{
        padding: 40px 0;
    }
    .store_icons{
        margin: 23px 0;
        img{
            margin-right: 15px;
            width: 140px;
            height: 42px;
        }
    }
    .logo_store{
        float: left;
    }
    .social_supoort{
        float: right;
        .support{
            text-align: right;
            color: rgba(255, 255, 255, 0.7);
            font-size: $font12;
            margin-top: 25px;
            span{
                font-weight: 600;
            }
            a{
                color:$linkcolor;
                font-weight: 600;
            }
        }
    }
    .social_icons{
        text-align: right;
        a{
            display: inline;
            margin:0 0 0 24px;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .address_links{
        padding: 40px 0 0;
        font-size: $font12;
        color: $primaryColor;
        .links{
            float: left;
            ul{
                margin: 0px;
                padding: 0px;
                li{
                    width: 33%;
                    list-style: none;
                    float: left;
                    margin-bottom: 30px;
                    a{
                        font-weight: 600;
                        color: $primaryColor;
                    }
                }
            }
        }
        .address{
            float: right;
            margin-top: 30px;
            text-align: right;
            line-height: 16px;
            .head_title{
                font-weight: 300;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
    .copyright{
        background-color: $blackprimary;
        padding: 12px 0;
        color: rgba(255, 255, 255, 0.72);
        font-size: $font12;
        letter-spacing: .2px;
        .copyright_text{
            float: left;
        }
        .blog_car{
            float: right;
            a{
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.72);
                margin-left: 25px;
                font-size: 10px;
            }
        }
    }

.footer_top{
    margin-bottom: -220px;
    width: 100%;
    background: #1C1C1C;
    border-radius: 50px 0px 50px 50px;
    transform: matrix(-1.07, 0.05, 0.69, 1, 0, 0);
    height: 271px;
}
.footer_content{
    padding: 25px 0 0;
    background: #1C1C1C;
    position: relative;
}
.save_upto_text{
    font-size: 32px;
    padding: 15px 0;
    font-weight: 600;
    margin-left: 15px;
    .g_text{ 
        background: -webkit-linear-gradient(#E5C36D , #F8EB8E , #D6B767);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a{
        text-transform: uppercase;
        font-size: 12px;
        color: #2f80ed !important;
        display: block;
    }
}
.small_text{
    font-weight: normal;
    font-size:14px;
}
.save_upto{
    float: left;
}
.save_upto_text{
    span{
       display: inline;
        font-size: 12px;
        font-weight: 300; 
    }
    
}
.apply_now_right{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 20px;
    float: right;
    button{
        margin-bottom: 10px;
    }
}

.disclaimer{
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.72);
    border-top: 1px solid rgba(255, 255, 255, 0.72);
    color: rgba(255, 255, 255, 0.72);
    font-size: 12px;
    margin: 40px 0 0;
    text-align: left;
    ol{
        padding-left: 0px;
    }
    li{
        margin-left: 15px;
        margin-top: 2px;
    }
}
@media (max-width:767px){
        .footer_top{
            transform: matrix(-1.3, 0.05, 0.69, 1, 0, 0);
        }
        .save_upto{
            float: none;
            margin: 0 auto;
            width: 70%;
        }
        .apply_now_right{
            float: none;
            button{
                float: none;
            }
        }
        .disclaimer{
            padding: 25px;
        }
        .footer_social{
            padding: 25px;
        }
        .social_icons{
            text-align: left;
            a{
                margin: 0 24px 0 0;
            }
        }
        .social_supoort{
            float: none;
            .support{
                text-align: left;
            }
        }
        .address_links{
            ul{
                li{
                    width: 100% !important;
                    float: none !important;
                }
            }
            .address{
                text-align: left;
                margin-top: 0px;
                float: none;
            }
        }
        .copyright{
            padding: 12px 25px;
            .blog_car{
                float: none;
                margin-bottom: 5px;
                text-align: left;
                a{
                    margin:  0 25px 0 0;
                }
            }
        }
}
}