@import "./common.scss";
.ntb_page {
	.head {
		h1 {
			font-size: 20px;
			color: #000;
			margin: 0 0 30px 0;
			span {
				color: rgba(0,0,0,0.3);
			}
		}
		p {
			font-size: 14px;
			line-height: 20px;
			color: $blacksecondary;
			text-align: left;
			margin-bottom: 24px;
			span {
				font-weight: bold;
				color: #000;
			}
		}
	}
	.otp_page {
		.ttl {
			font-size: 20px;
		}
		p {
			color: rgba(0, 0, 0, 0.72);
			font-size: 14px;
			line-height: 16px;
			margin: 15px 0;
			span {
				color: #000;
				font-weight: 700;
			}
		}
    }
    .accept_agree{
        font-size: $font12;
        text-align: left;
        margin-top: 25px;
    }
    .accept_agree_bottom{
        margin-left: 24px;
    }
    .btn_consent,.action_btn{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 9;
        left: -24px;
    }
    .btn_consent{
        color: $blackColor;
    }
    .action_btn{
        bottom: 60px;
        font-size: $font12;
        padding-left: 24px;
        a{
            font-size: $font12;
        }
    }
    
    .form_plan_new{
        .form-group{
            margin-bottom: 30px;
            label{
                font-size: 14px;
                margin-bottom: 0px;
            }
            label.active{
                top:2px;
            }
            .form-control{
                font-size: 14px;
                color: $blackColor;
                padding: 0 0 0 12px;
                height: 43px;
                
            }
        }
        .grn_btn{
            .btn-primary{
                background-color: $greenColor !important;
            }
            button{
                margin-top: 24px;
                border-radius:15px;
            }
            .btn-primary.disabled, .btn-primary:disabled{
                background: $disabledcolor !important;
            }
        }
        .form-control{
            padding-left: 12px;
            select{
                color: #000;
            }
        }
        
    }
    .md-form.md-outline{
        margin: 0px;
        
        label{
            color: #000;
            transform: translateY(11px);
        }
        label.active{
            transform:translateY(-13px) scale(0.8);
        }
    }
    .md-form.md-outline input[type="text"]:focus:not([readonly]), .md-form.md-outline input[type="password"]:focus:not([readonly]), .md-form.md-outline input[type="email"]:focus:not([readonly]), .md-form.md-outline input[type="url"]:focus:not([readonly]), .md-form.md-outline input[type="time"]:focus:not([readonly]), .md-form.md-outline input[type="date"]:focus:not([readonly]), .md-form.md-outline input[type="datetime-local"]:focus:not([readonly]), .md-form.md-outline input[type="tel"]:focus:not([readonly]), .md-form.md-outline input[type="number"]:focus:not([readonly]), .md-form.md-outline input[type="search-md"]:focus:not([readonly]), .md-form.md-outline input[type="search"]:focus:not([readonly]),
     .md-form.md-outline textarea.md-textarea:focus:not([readonly]),
     textarea:focus:not([readonly]){
        border-color: $greenColor;
        box-shadow: none;
    }
    .was-validated{
        .form-control:invalid{
            border-color: $redColor;
        }
        .form-control:valid{
            border-color: $greenColor;
        }
        
        .invalid-feedback,.valid-feedback{
            position: absolute;
            bottom: -20px;

        }
    }
    // .form-control.is-invalid{}
    .was-validated .form-control:valid, .form-control.is-valid,
    .was-validated .form-control:invalid, .form-control.is-invalid,
    .custom-select.is-valid, .was-validated .custom-select:valid{
        background-image: none;
    }
    .form-control:disabled:valid{
        border-color: $greenColor;
    }
    .was-validated{
        .custom-select{
            background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
            color: #000;
        }
    }
    
    .custom-select{
        color: #000;
        font-size: 14px;
        height:43px;
    }
    .md-form.md-outline input[type="text"]:focus:not([readonly])+label, .md-form.md-outline input[type="password"]:focus:not([readonly])+label, .md-form.md-outline input[type="email"]:focus:not([readonly])+label, .md-form.md-outline input[type="url"]:focus:not([readonly])+label, .md-form.md-outline input[type="time"]:focus:not([readonly])+label, .md-form.md-outline input[type="date"]:focus:not([readonly])+label, .md-form.md-outline input[type="datetime-local"]:focus:not([readonly])+label, .md-form.md-outline input[type="tel"]:focus:not([readonly])+label, .md-form.md-outline input[type="number"]:focus:not([readonly])+label, .md-form.md-outline input[type="search-md"]:focus:not([readonly])+label, .md-form.md-outline input[type="search"]:focus:not([readonly])+label, .md-form.md-outline textarea.md-textarea:focus:not([readonly])+label,
    textarea:focus:not([readonly])+label
    {
        color: $greenColor;
    }
    
    .radio_nav_tabs{
        .nav-tabs{
            border:none;
            .nav-link{
                    background: rgba(0, 0, 0, 0.1);
                    font-size: 16px;
                    color: #1b2e4e;
                    font-weight: 600;
                    padding: 0 20px;
                    text-align: center;
                    border-radius: 8px;
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    margin-right: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    span{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 2px solid #1B2E4E;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: middle;
                        margin-top: -3px;
                    }
            }
            .nav-link.active{
                    color: $greenColor;
                    border: 1px solid $greenColor;
                    background-color: rgba(196, 196, 196, 0.2);
                    span{
                        border: 2px solid $greenColor;
                        position: relative;
                        background-color:$greenColor ;
                    }
                    span:after {
                        content: "";
                        position: absolute;
                        display: block;
                        }
                        span:after {
                            top: 3px;
                            left: 3px;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background: white;
                        }
                    }
        }
        .tab-content{
            margin-top: 25px;
        }
    }
    .form_plan_new.form_plan{
        height: calc(100vh - 179px);
    }  
    .generic_pages .form_plan_new.form_plan{
        height: 100%;
    } 


@media (max-width:767px){
    .btn_consent{
        position: fixed;
        left: 20px;
        .btn-block {
            margin: 0px -20px;
            width: 100%;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0;
        }
    }
    .action_btn{
        width: calc(100% - 40px);
        left: 20px;
        position: fixed;
    }
    .otp_page {
        position: relative;
    } 
}    
}
.form_button{
    .btn{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        border:none;
        .btn-secondary:disabled{
            background-color: $secondaryColor !important;
            color: $disabledcolor;
        }
    }
}
.loader_check{
        .center_box{
            padding: 0px;
        }
        .loader_page{
            background: $blacklight;
        }
    }
.font_91 {
	color: rgba(0, 0, 0, 0.4);
	padding-top: 11px;
}
.vert_align_abs {
	width: 70%;
	position: absolute;
	top: 38%;
	left: 50%;
	margin: 0% 0 0 -35%;
}
