@import "./common.scss";
.card_block{
    background: #1C1C1C;
    width: 100%;
    padding: 0px 0px 0px;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 2;
    .tc_logo{
        padding:0 0 30px 0px;
    }

    .left_bg_rect {
        position: absolute;
        left: 0px;
        top: 0px;
        background: url(../images/rect.svg) no-repeat;
        height: 100%;
        width: 220px;
    }
}

.card_offer{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.card_offer span.cash_num {
    background: url(../images/cash_bg.svg) no-repeat;
    width: 115px;
    height: 29px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
}
.card_offer .big_ttl{
    font-size: 24px;
    font-weight: 600;
}
.per_year{
    font-weight: 600;
}
.per_year span{
    font-weight: 300;;
}
.what_get{
    padding: 25px;
}
.ttl_offer{
    text-align: center;
    margin: 25px auto 25px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.sales_page .top_offer .ttl_offer{
    margin-top: 0px;
}

.apply_track{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 0 0;
    button{
        border: none;
    }
    .btn-track_btn{
        color: #fff;
        background: transparent;
        padding: 16px 0;
        margin-left: 40px;
        float: left;
        box-shadow: none;
    }
}
.btn-card_apply{
        background: linear-gradient(226.61deg, #E5C36D 37.92%, #F8EB8F 51.22%, #D6B767 66.15%);
        border-radius: 16px;
        color: #000;
        text-align: center;
        padding: 16px 0px;
        width: 220px;
        float: left;
        font-weight: 600;
        border:none;
}
.offer_txt{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: .2px;
    .small{
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.08em;
        font-variant: small-caps;
    }
}
.gold_text{
    font-size: 32px;
    padding: 15px 0;
    background: -webkit-linear-gradient(#E5C36D , #F8EB8E , #D6B767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.excluive_offer{
    margin-top: -50px;
    margin-right: -15px;
    .ttl_offer{
     width: 80%;
    }
    .view_all{
        margin-right: 15px;
    }
}
.apply_section{
    background: #f8f8f8;
    padding: 70px;
    .bs-wizard {
	>.bs-wizard-step {
		padding: 0;
		position: relative;
		.bs-wizard-info {
			color: #000;
			font-size: 14px;
			.details {
				color: rgba(0, 0, 0, 0.4);
			}
		}
		>.bs-wizard-dot {
			position: absolute;
			width: 30px;
			height: 30px;
			display: block;
			top: 45px;
			left: 50%;
			margin-top: -38px;
			margin-left: -15px;
			border-radius: 50%;
			&:after {
				content: ' ';
				width: 14px;
				height: 14px;
				border-radius: 50px;
				position: absolute;
				top: 8px;
				left: 8px;
			}
		}
		>.progress {
			position: relative;
			border-radius: 0px;
			height: 1px;
			box-shadow: none;
			margin: 28px 0;
			>.progress-bar {
				width: 0px;
				box-shadow: none;
				border: 1px dashed #1c1c1c;
				background: transparent;
			}
		}
		&:first-child.active {
			>.progress {
				>.progress-bar {
					width: 0%;
				}
			}
		}
		&:last-child.active {
			>.progress {
				>.progress-bar {
					width: 100%;
				}
			}
		}
		&:first-child {
			>.progress {
				left: 50%;
				width: 50%;
			}
		}
		&:last-child {
			>.progress {
				width: 50%;
			}
		}
	}
	>.bs-wizard-step.complete {
		>.progress {
			>.progress-bar {
				width: 100%;
			}
		}
	}
	>.bs-wizard-step.active {
		>.progress {
			>.progress-bar {
				width: 50%;
			}
		}
	}
	>.bs-wizard-step.disabled {
		>.bs-wizard-dot {
			background-color: #f5f5f5;
			&:after {
				opacity: 0;
			}
		}
		a.bs-wizard-dot {
			pointer-events: none;
		}
	}
}
.img_brder {
	width: 48px;
	height: 48px;
	border-image-slice: 1;
}

}
.bottom_part{
    margin-top: -240px;
    width: 100%;
    height: 271px;
    position: relative;
    z-index: 1;
    background: #1c1c1c;
    border-radius: 50px 0px 50px 50px;
    transform: matrix(1.1, -0.05, -0.69, -1, 0, 0);
}
.top_offer{
    margin-top: 75px;
}
.top_card_block{
    position: relative;
    overflow-x: hidden;
}
.ttl_offer_grey{
    font-size: 12px;
    line-height: 20px;
    color:$secondaryColor;
}  
@media (max-width:767px){
    .apply_track{
        text-align: center;
        button{
            float: none !important;
            margin-left: 0px !important;
        }
    }
    .premium_membership{
        margin-top: 45px;
    }
    
    .excluive_offer{
        margin-right: 0px;
        .view_all{
            margin-right: 15px;
        }
        .all_exclusive{
            width: 80%;
            margin: 0 auto;
        }
    }
    .how_to{
        margin: 15px 25px;
        .apply_section{
            padding: 15px;
            margin: 0px;
            .bs-wizard{
               margin-bottom: 30px;
                >.bs-wizard-step.complete,>.bs-wizard-step:last-child {
                >.progress{
                    width: 1px;
                    height: 40px;
                    left: 49px;
                    margin: 0px;
                    >.progress-bar {
                        width:1px;
                        height: 40px;
                    }
                }
                
            }
                .bs-wizard-step{
                    .bs-wizard-info {
                        color: #000;
                        font-size: 14px;
                        float: left;
                        margin-left: 59px;
                        margin-top: 8px;
                        text-align: left !important;
                    }
                    &:first-child {
                        >.progress {
                            width: 50%;
                            display: none;
                        }
                    }
                    .bs-wizard-dot{
                        position: relative;
                        top: 0px;
                        left: 25px;
                        margin-top: 0px;
                        margin-left: 0px;
                        float: left;
                    }
                }
            }
            
        }
        .how_to_apply{
            text-align: center !important;
        }
        .ttl_offer_grey{
            text-align: center !important;
        }
    }
    
}