.header_nav{
    text-align: center;
    padding: 28px 55px 56px;
    background: #1C1C1C;
    
    a{
        color: rgba(255, 255, 255, 0.72);
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 55px;
    }
}

.login_btn{
        color: rgba(255, 255, 255, 0.72);
        font-size: 12px;
        text-align: right;
        margin-top: -23px;
    a{
        color: #fff;
        text-transform: uppercase;
        padding: 0px;
    }
}

.header_nav a.active,.header_nav a:hover{
     background: -webkit-linear-gradient(#E5C36D , #F8EB8E , #D6B767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.user_icon{
    margin: 6px 0 0 10px;
}
.mobile_logo{
    .tc_logo{
        padding: 0px;
    }
}
@media (max-width:767px){
    .header_nav{
        padding: 15px;
        margin:0 0px 25px;
        .login_btn{
            margin: 0px;
        }
    }
}