.stub_screen{
    background:#2c2c2b;
    text-align: center;
    font-family: 'Work Sans' !important;
}
.stub_screen a{
    font-size: 14px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.ntb_page .radio_tabs a.btn.active{
    border: 1px solid #33A84D;
    color: #33A84D;
}
.card_carousel{
    margin-bottom: 32px;
}
.card_carousel img{
    width: 100%;
    height: auto;
}

.stub_screen{
    color: #fff;
    padding-top: 60px !important;
}
/* .tr_head_process .tr_head,.tr_head_process .cent_cont{
    color: rgba(27, 46, 78, 0.5);
} */
.cent_cont a{
    font-weight: 600;
    text-decoration: none;
}
.cent_cont span{
    font-weight: 600;
}


.head.head_opt h1{
    margin-bottom: 15px;
}
#card_carousel .item .card_carousel img{
    display: block;
    width: 100%;
    height: auto;
}

#card_carousel .pointers img{
    width: 32px;
    height: 32px;
    display: inline-block;
}
#card_carousel .pointers{
    padding-left:25px;
    
}
.splash_screen{
    background: #1C1C1C;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.stub_screen{
    background: url(../images/mask_bg.svg) no-repeat;
    height: 100vh;
    width: 100%;
    background-size:cover;
}
p.tag_line{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 25px;
}

#address .modal-dialog{
    width: 360px;
}
#address.modal-open.modal{
    width: 360px;
}
#address.modal{
    top: unset;
}
#address.modal.fade .modal-dialog{
    transform: translate3d(0, 100vh, 0);
}
  
#address.modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
    margin-bottom: 0px;
}
#address .radio_tabs a.btn{
    width: 100%;
    text-align: left;
    height: unset;
    margin:0 0 25px 0;
    color: #1B2E4E;
    font-weight: normal;
    line-height: 20px;
    border:1px solid rgba(196, 196, 196, 0.2);
}
#address .radio_tabs a.btn span{
    color: #999999;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
}

.ntb_page #address .radio_tabs a.btn.active{
    border: 1px solid #33A84D;
}


/*css for radio button*/
.radio_address .radio-item{
    background:rgba(196, 196, 196, 0.2);
    padding: 15px 5px 15px 15px;
    border:1px solid rgba(196, 196, 196, 0.2);
    margin-bottom: 25px;
    border-radius:20px;
}
.radio_address .radio-item label{
    vertical-align: middle;
    display: inline-block;
}
.radio_address .radio-item label span{
    color: #999999;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
}
.radio_address .radio-item label{
    color: #1B2E4E;
    font-weight: normal;
    line-height: 20px;
    width: 90%;
    margin-left: 5px;
}
.radio_address{
    margin-bottom: 25px;
}
#address .radio_address span p{
    color: #1B2E4E;
    word-break: break-all;
    white-space: normal;
    width:85%;
    text-transform: capitalize;
    font-size: 14px;
}
#address h4{
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 10px 15px;
}
.bottom_fix{
    position: fixed;
    bottom: 30px;
    font-size: 17px;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    left: 0;
}
.bottom_fix img,.et_mobbys img{
    margin: 0 10px;
    width: 120px;
    height: 109px;
}
.tcard_block{
    margin: 30px 0;
}
.tcard_block img{
    width: 100%;
    height: auto;
}

.splash_screen .loader_in{
    top:45%;
}
.bottom_buttons button.action_submit{
    bottom: 30px;
    width: 80%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
}

.offer_1{
    background: #D95A4D;
}
.offer_2{
    background: #492C6E;
}
.offer_3{
    background: #201733;
}
.offer_4{
    background: #333544;
}

.offer_box{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.offer_box img{
    display: inline-block;
    vertical-align: middle;
}
.offer_box .desc{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    margin: 15px 0 0;
    height: 54px;
}
.what_get .col-sm-6,.what_get .col-xs-6{
    padding-right: 5px;
    padding-left: 5px;
}
.list_offers{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.72);
    padding:0 25px;
}
.list_offers img{
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.list_offers p{
    font-size: 12px;
}
.list_desc{
    width:calc(100% - 67px);
}
.premium_membership .list_desc{
    width: 74%;
}
.premium_membership .list_offers{
    padding-right: 0px;
}
.list_head{
    font-size:14px;
    font-weight: 600;
}
.offer_listing{
    margin-bottom: 15px;
    font-weight: 300;
}

.all_exclusive{
    text-align: center;
}
.all_exclusive img{
    width: 100%;
    height: auto;
}

.excluive_offer_img{
    object-fit: contain;
}
.exclusive_carousel{
    margin: 25px 0;
}
.exclusive_carousel .welcome_offer_block{
    margin-bottom: 25px;
}
.exclusive_carousel .InfiniteCarouselFrame{
    margin: 0px !important;
}

.welcome_content{
    background-color:#F8F8F8;
    position: relative;
    z-index: 2;
}
.welcome_content .ttl_offer{
    margin-top: -30px;
}
.welcome_upper_bg{
    position: relative;
    width: 100%;
    height: 100px;
    right: -3px;
    top: 36px;
    background: #f8f8f8;
    border-radius: 0px 61px 80px 0px;
    transform: rotate(-8deg);
    z-index: 1;
}
.welcome_offer_save.welcome_offer .welcome_upper_bg,
.welcome_offer_save.welcome_offer .welcome_content{
    background: #1C1C1C;
}
.welcome_offer_save.welcome_offer .welcome_content{
    margin-top: -35px;
    color: #ffffff;
}
.welcome_lower_bg{
    position: relative;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 74px;
    background: #f8f8f8;
    border-radius: 80px 0px 59px 80px;
    transform: rotate(-9deg);
    z-index: 1;
}
#offer_carousel{
    padding-left: 25px;
    min-height: 190px;
}
.logo_right img{
    border-top-right-radius: 10px;
}
.welcome_offer_block{
    border-radius: 10px;
    padding: 10px;
}
.welcome_offer_block .head{
    height: 40px;
}
.welcome_offer_1{
    background: #C89D81;
}
.welcome_offer_2{
    background: #141B27;
}
.exclusive_offer_1{
    background: #C96D86;
}
.exclusive_offer_2{
    background:#EC5E59;
}
.exclusive_offer_3{
    background: #D85550;
}
.exclusive_offer_4{
    background: #B47547;
}
.welcome_offer_block .desc{
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    font-weight: 500;
    height: 54px;
}
.offer_listing img{
    width: 52px !important;
    height: 52px;
}
.how_to .offer_listing img{
    width: 32px;
    height: 32px;
}
.how_to_apply{
    margin-top: 30px;
}
.logo_right{
    margin-top: -10px;
    margin-right: -10px;
}

.apply_section{
    margin: 25px 0 -35px;
    border-radius: 20px;
}
.apply_section .offer_listing{
    margin: 15px 0 0 0;
}
.apply_section .offer_listing p{
    margin: 6px 0 0 0;
}

.save_lside{
    text-align: left;
}
.save_rside{
    text-align: right;
}
.save_upto .save_lside{
    font-size:16px;
    color: #1B2E4E;
}
.save_upto .save_lside .rs{
    font-size:24px;
    font-weight: 600;
    margin-bottom: -2px;
}
.small_caps{
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.72);
    font-weight: 600;
    margin-top: 15px;
    display: inline-block;
}
.save_upto .save_lside .per_year{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.72);
    text-transform: uppercase;
    font-size: 10px;
}
.faq_links{
    margin: 10px 0 25px;
    text-align: center;
}
.faq_links a{
    margin: 25px 0;
    font-size: 12px;
    color: #2F80ED;
    display: block;
}
.sales_page .form_plan_new.form_plan{
    padding: 0px;
    height: 100%;
}
.sales_page .form_plan_new.form_plan .btn_consent{
    position: relative;
    margin: 0px;
}
.more_offer_link{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    text-align: center;
}
.arn_docs_in .tr_head{
    padding-left: 30px;
    font-size: 14px;
}
.arn_docs_in .cent_cont{
    padding-top: 10px;
    font-size: 12px;
}

.welcome_desktop .logo_right{
    text-align: right;
}
.welcome_desktop .welcome_offer_1{
    background: #000;
}
.welcome_desktop .welcome_offer_block {
    padding: 0 15px 15px 15px;
    box-shadow: 0px 4px 0px rgba(16, 22, 40, 0.2);
}

.welcome_desktop .welcome_offer_2{
    background:#dd574c;
}
.welcome_desktop .welcome_offer_3{
    background:#C89D81;
}
.welcome_desktop .head{
    height: 185px;
}
.welcome_desktop .offer_details{
    position: absolute;
    bottom: 20px;
    width: 60%;
    color: #fff;
    font-size: 12px;
    z-index: 1;
}
.welcome_desktop .offer_details .desc{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
    height: auto;
}
.logo_offer{
    margin-bottom: 15px;
}
.logo_offer img{
    width: auto !important;
    height: auto;
    max-width: 84px;
}
.welcome_desktop .logo_right{
    position: absolute;
    right: 0px;
    margin: 0px;
    bottom: 0px;
    max-width: 150px;
}
.welcome_desktop .logo_right img{
    width: 100%;
    height: auto;
}
.InfiniteCarousel{
    width: 100% !important;
}

/*Form Wizard*/


/*END Form Wizard*/


/*css for footer*/

@media (min-width: 240px) and (max-width:767px ){
    
    .ntb_page{padding-top: 30px;}
    .ntb_page.sales_page{
        padding-top: 0px;
    }
    .tcard_block img{
        max-width: 261px;
    }
    .left_bg_rect {
        height: 140px;
        width: 100px;
        background-size: contain;
    }
}

@media (min-width:768px){
    .InfiniteCarouselFrame{
        margin-left: -10px;
    }
    
    .excluive_offer{
        margin-right: 0px;
    }
    .exclusive_carousel .logo_offer img{
        width: unset !important;
    }
    .list_offers{
        padding: 0px;
    }
    .list_offers .offer_listing{
        width: 33%;
        margin-bottom: 25px;
        float: left;
    }
    .welcome_lower_bg{
        transform: rotate(-2deg);
    }
    #offer_carousel_1 .list_offers .offer_listing{
        width: 100%;
    }
    
    .welcome_content .ttl_offer{
        padding-top: 30px;
    }
    .welcome_content .premium_membership .ttl_offer{
        margin-top: 30px;
    }
    .welcome_upper_bg{
        transform: rotate(-3deg);
    }
    .list_offers .offer_listing p{
        margin: 7px 0 0 0;
    }
    .premium_membership .list_offers .offer_listing p{
        height: 33px;
    }
    .premium_membership .list_offers .offer_listing{
        width: 100%;
    }
    .ttl_offer{
        text-align: left;
        text-transform: uppercase;
    }
    .excluive_offer .ttl_offer{
        width: 65%;
        text-align: center;
    }
    .more_offer_link{
        margin-top: 20px;
    }
    
    .card_container{
        max-width: 990px;
        margin: 0 auto;
    }
    
    .offer_logo{
        float: left;
        text-align: left;
        width: 45%;
    }
    .award_logo{
        float: right;
        max-width: 336px;
        text-align: center;
    }
    .gold_text{
        font-size: 52px;
        padding: 0px;
    }
    .small{
        margin-top: 0px;
        font-size: 16px;
    }
    .tcard_block{
        margin: 0px;
    }
    
    
    
    .offer_txt{
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        line-height: unset;
    }
    .tcard_block img{
        max-width: 341px;
    }
    
    .sales_page .form_plan_new.form_plan{
        padding: 0px;
        height: 100%;
    }
    .sales_page .form_plan_new.form_plan .btn_consent{
        position: relative;
        margin: 0px;
    }
    .ntb_page .head h1{
        font-weight: 600;
        text-align: left;
    }
   
    
    .vert_align_abs{
        position: relative;
        margin: 0px;
        width: 100%;
        left: unset;
    }
}
