.pad0{
	padding: 0px !important;
}
.mar0{
	margin: 0px !important;
}
.border_0{
	border:none !important;
}
.rel-pos{
	position: relative;
}
.abs-pos{
	position: absolute !important;
}
.error_msg_abs{
	right: 0px;
}
body{
	font-family: Work Sans;
}
.form_plan{
	position: relative;
	color: rgb(0, 0, 0);
	font-family: 'Work Sans' !important;
}
.form_plan h1{
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	text-align: center;
}
.form_plan_new.form_plan h1{
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	margin:15px 0 20px;
	color: #000;
	text-align: left;
}
.form_plan h1 strong{
	font-weight: 600;
}
.form_box{
	margin-top: 35px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	width: 100%;
	padding: 40px 24px 16px;
}
#mobile_verify .form_box{
	margin-top: 0px;
	background: unset;
	box-shadow: unset;
	border-radius: unset;
	padding: unset;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.common_pop .modal-content{
	padding:40px 20px 24px;
}
.common_pop .vertical-alignment-helper{
	max-width: 312px;
	margin: 0 auto;
}

.common_pop .ttl{
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
}
.common_pop p{
	font-size: 13px;
	line-height: 17px;
	margin: 10px 0 0 0;
	color: #333;
}
.common_pop button.close{
	margin-top: -32px;
	font-weight: normal;
	opacity: 1;
}
.common_pop .form-group{
	margin: 30px 0;
}
.common_pop .form-group .form-control-placeholder{
	width: 100%;
    text-align: center;
    font-weight: normal;
}
.action_btn a{
	color: #000000;
	opacity: 0.75;
	font-size: 16px;
}
.action_btn a.resend_btn{
	color: #4481DD !important;
	font-weight: 600;
	opacity: 1;
}
.error_msg{
	position: absolute;
    color: red;
    font-size: 10px;
    font-weight: 400;
}
select.default{
	color: #999;
}
/*css for Thank you page*/
.thanks_page{
	font-family: 'Work Sans' !important;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}
.thanks_cont{
	position:absolute;
    top: 50%;
    left: 50%;
    width:300px;
    height:180px;
    margin-top: -90px; 
    margin-left: -150px;
}
.thanks_cont img{
	margin-bottom:15px;
}
/* The container */
.accept_agree .container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #1B2E4E;
  text-align: left;
  font-weight: 500;
  padding-right: 0px;
  color: #000 !important;;
}
.accept_agree .container a{
	color: #4481DD;
}
/* Hide the browser's default checkbox */
.accept_agree .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.accept_agree .checkmark {
  position: absolute;
  top: -20px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.accept_agree .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.accept_agree .container input:checked ~ .checkmark {
  background-color: #2F80ED;
}

/* Create the checkmark/indicator (hidden when not checked) */
.accept_agree .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.accept_agree .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.accept_agree .container .checkmark:after {
      left: 6px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*css for 2nd form*/
.arn_docs{
	color: #000;
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
}
.tr_head span{
	display: inline-block;
	background: #000;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;

}
.tr_head{
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}
.cent_cont{
	    border-left: 1px dotted;
    margin: -7px 0 -7px 4px;
    padding: 25px;
    font-weight: 300;
}
.tab_btn{
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
margin: 15px 0 0px 0;
}
.tab_btn span{
	display: inline-block;
	width: 50%;
	text-align: center;
	color: #000;
	height: 34px;
	line-height: 34px;
	float: left;
}
.tab_btn span.active1{
	background: #4481DD;
	border-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #fff;
}
.tab_btn span.active2{
	background: #ffffff;
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.tab_btn.change span.active1{
	background: #4481DD;
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #fff;
	
}
.tab_btn.change span.active2{
	background: #ffffff;
	border-radius: 8px;
	

	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #000;
}
/* .card_form_box.form_box .form-group{
	position: relative;
}
.card_form_box.form_box .form-group .form-control,.card_form_box.form_box .form-group.common_select select{	
	font-size: 14px;
	padding: 0 2px 0 12px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border-radius: 6px;
	height: 43px;
	color: #000;
}
.card_form_box.form_box .form-group textarea.form-control{
	padding: 8px;
	height: 100px;
	resize: none;
} */
/* .card_form_box.form_box .form-group.error_class .form-control,.card_form_box.form_box .form-group.error_class .form-control ~ label{
	border-color: red !important;
	color: red !important;
}
.card_form_box.form_box .form-group.error_class .form-control:focus ~ label{color:red;}
.card_form_box.form_box .form-group .form-control:focus , .card_form_box.form_box .form-group .form-control:focus,
.card_form_box.form_box .form-group.common_select .select_dd:focus
{
     outline:none;
     border:1px solid #33A84D; 
} */
/* 
.card_form_box.form_box .form-group .form-control ~ label, .card_form_box.form_box .form-group.common_select label  {
  
  position:absolute;
  pointer-events:none;
  left:8px;
  top:12px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  color: #000;
  font-weight: normal;
  letter-spacing: 0.04em;
}
.card_form_box.form_box .form-group .form-control ~ label.text_center{
	left:43%;
} */
/* .card_form_box.form_box .form-group.error_class.common_select .select_dd,
.card_form_box.form_box .form-group.error_class.common_select .select_dd ~ label{
	border-color: red !important;
	color: red !important;
}
.card_form_box.form_box .form-group .form-control:focus ~ label.text_center, .card_form_box.form_box .form-group .form-control:not(:placeholder-shown) ~ label.text_center{
	left:43%;
}
.card_form_box.form_box .form-group .form-control:focus ~ label, .card_form_box.form_box .form-group .form-control:not(:placeholder-shown) ~ label {
  top:-6px;
  font-size:10px;
  color:#33A84D;
  background:#fff;
}

.common_select .select_dd:focus ~ label,.common_select .select_dd:not([value=""]):valid ~ label,
.card_form_box.form_box .form-group.common_select .select_dd:focus ~ label, .card_form_box.form_box .form-group.common_select .select_dd:not([value=""]):valid ~ label{
  top:-6px;
  font-size:10px;
  color:#33A84D;
  background:#fff;
} */
/* .form_plan_new .action_submit{
	
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 100;
}


.action_submit.fix_btn{
	background: #33A84D;
} */
/*label black*/
/* .card_form_box.form_box .form-group .form-control:not(:placeholder-shown) ~ label,.card_form_box.form_box .form-group .form-control:not(:placeholder-shown) ~ label,
.card_form_box.form_box .form-group.common_select .select_dd:not([value=""]):valid ~ label{
	color: #33A84D;
}
.card_form_box.form_box .form-group.common_select .select_dd:not([value=" "]):valid ~ label{
	color: #33A84D;
} */
/*label black end*/
/* .card_form_box.form_box .form-group.common_select .select_dd:focus ~ label{
	color: #33A84D !important;
;
} */
/* active state */
/* .card_form_box.form_box .form-group .form-control:focus ~ .bar:before,
.card_form_box.form_box .form-group .form-control:focus ~ .bar:after,
.card_form_box.form_box .form-group .form-control:focus ~ .bar:before,
.card_form_box.form_box .form-group .form-control:focus ~ .bar:after {
  width:50%;
} */

/* *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */


/* highlighter */
/* .highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
} */

/* active state */
/* .card_form_box.form_box .form-group .form-control:focus ~ .highlight , .card_form_box.form_box .form-group .form-control:focus ~ .highlight,
.card_form_box.form_box .form-group.common_select .highlight,
.card_form_box.form_box .form-group.common_select .select_dd{
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
} */

/*!* animation *!*/
/*@-webkit-keyframes inputHighlighter {*/
	/*from { background:#5264AE; }*/
  /*to 	{ width:0; background:transparent; }*/
/*}*/
/*@-moz-keyframes inputHighlighter {*/
	/*from { background:#5264AE; }*/
  /*to 	{ width:0; background:transparent; }*/
/*}*/
/*@keyframes inputHighlighter {*/
	/*from { background:#5264AE; }*/
  /*to 	{ width:0; background:transparent; }*/
/*}*/

/****  floating-Lable style end ****/

.card_form_box.form_box{
	box-shadow: none;
	padding: 0px;
	margin-top:0px;
}

.head_top{
	padding: 15px 0;
	text-align: center;
	margin-bottom: 25px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.head_top span{
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #2E3180;
	vertical-align: middle;
	margin-right:5px;
}
.head_top img:first-child,.head_top img.first{
	display: inline-block !important;
}
.form_plan_new form{
	position: relative;
}
/* .form_plan_new .accept_agree{
	position: fixed;
	bottom: 80px;
	width: 90%;
	margin-top: 24px;
} */
.form_plan_new .accept_agree.accept_agree2{
	position: unset;
}


.form_plan_new .accept_agree.float_btn{
	position: unset;
	bottom: unset;
}
.radio_tabs [data-toggle=buttons]>.btn input[type=radio]{
	clip: auto;
}
.radio_tabs .radio_tabs_in{
	margin-bottom: 32px;
}
.radio_tabs .btn-group{ display: block; }
.radio_tabs a.btn{
	
    width: 48%;
    text-align: center;
    color: #1B2E4E;
    height: 42px;
    line-height: 29px;
    border-radius: 8px !important;
    font-weight: 700;
    background: rgba(196, 196, 196, 0.2);
    border: none;
}
.radio_tabs a.btn.active{
	border:2px solid #4481DD;
	background: rgba(196, 196, 196, 0.2);
	border-radius: 6px;
	color: #4481DD;
	margin:-1px;
	box-shadow: none;
}
.radio_tabs a.btn input{
	position: unset !important;
    margin: 0 4px 0 0;
    line-height: 38px;
    vertical-align: middle;
    width:20px;
    height: 20px;
}
.radio_tabs.radio_tabs_vertical a.btn input[type='radio']:after,
.radio_tabs.radio_tabs_vertical a.btn input[type='radio']:checked:after,
input[type='radio']:checked:after {
	background-color: red;
}

.radio_tabs.radio_tabs_vertical .inpt:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #7B1FA2;
  background-color: #7B1FA2;
}


.radio_tabs a.btn.focus{
	outline: none;
}
.radio_tabs .btn-group>.btn:first-child{
	margin-right: 2%;
}
.radio_tabs .btn-group>.btn:last-child{
	margin-left: 2%;
}

.radio_tabs_vertical{
	margin:0 -16px;
}
.radio_tabs_vertical a.btn{
	display: block;
	width:100%;
	background: #fff;
	padding: 16px 0;
	height: auto;
	border: none;
	text-align: left;
	padding: 16px;
	border-radius:0px !important;
	padding-bottom: 35px;
}
.radio_tabs_vertical a.btn span{
	display: inline-block;
	vertical-align: middle;
}
.radio_tabs.radio_tabs_vertical a.btn.active{
	margin:0px;
}
.radio_tabs.radio_tabs_vertical .btn-group{
	overflow-x: hidden;
}
.pop_benfits ol{
	margin-left:0px;
	padding-left: 5px;
	list-style-type: upper-greek;
}
.pop_benfits ol li{
	margin-bottom: 7px;
}
.pop_benfits ol div{
	font-weight: 600;
	text-decoration: underline;
	font-size: 16px;
	margin-bottom: 7px;
}
.pop_benfits ul li{
	list-style: upper-roman !important;
}
.pop_benfits table{
	width:100%;
	margin-bottom: 15px;
}
.pop_benfits tr td, .pop_benfits tr th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.pop_benefits tr:nth-child(odd) {
  background-color: #dddddd;
}
.radio_tabs_vertical  button.view_ct{
	position: relative;
	z-index: 99;
	cursor: pointer;
	display: block;
	text-align: right;
	color: #00ADE9;
	font-weight: 600;
	font-size: 12px;
	padding-right: 15px;
	position: absolute;
	top: 22px;
	right: 5px;
	text-decoration: underline;
	background: transparent;
    border: none;
    text-transform: lowercase;
}
.radio_tabs_vertical a.btn span div{
	color: #000;
}
.card_img_block{
	width:100%;
	padding-right: 30px;
}
.card_img_block img{
	width:100%;
	height: auto;
	margin-top: 7px;
}
.img_center .card_img_block img{
	text-align: center;
	width:auto;
	float: none;
}
 .card_img_block .img_center_in{
	width:100%;
	text-align: center;
}

.radio_tabs_vertical a.btn span:last-child{
	padding-right: 30px;
    width: 100%;
}
.radio_tabs_vertical .card_img_block{
	display: inline-block;
}
.radio_tabs_vertical a.btn.active{ background: #F3F3F3;  border: none; box-shadow: none;}
.radio_tabs_vertical a img {
	
	display: inline-block;
	float:right;
    vertical-align: middle;
    width:100%;
    height: auto;
}
.loader_page{
	background: #131e32;
	position: relative;
	width:100%;
}
.loader{
	max-width: 15rem;
	width: 100%;
	height: auto;
	text-align: center;
	margin:0 auto;
}
.loader img{
	width:100%;
	height: auto;
}
.loader_text{
	font-weight: 700;
	color: #fff;
}
.loader_text h3{
	margin:25px 0 15px;
	font-size: 20px;
	line-height: 24px;
}
.loader_text h5{
	font-weight: 300;
	color: rgba(256, 256, 256, 0.4);;
	font-size:16px;
	margin-top: 25px;
}
.loader_text.loading h3{
	font-weight: 300;
	color: #717884;
}
.loader_text.loading h5{
	font-weight: 400;
	color: #fff;
}
.loader_in{
	color: white;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width:80%;
}


@media (min-width: 240px) and (max-width:767px ){
	.bg_img{
		height: 36vh;
	}
	.select_dd select{border:none !important; margin-left: -2px;}
	.pop_benfits .vertical-alignment-helper {
    max-width: 90% !important;
}
.btn_consent button{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

}

@media (min-width: 768px){


.radio_tabs_vertical{
	margin:0px;
}
.radio_tabs.radio_tabs_vertical a.btn.active,.radio_tabs.radio_tabs_vertical .btn-group>.btn:first-child{
	margin:0px;
}
.radio_tabs.radio_tabs_vertical a.btn{
	margin:0px;
}
.form_plan_new .accept_agree.accept_agree2{
	margin-left:15px;
}
.head_top img:first-child,.head_top img.first{
	display: none !important;
}
.radio_tabs a.btn input{ margin-top: -5px; }
.card_choose .form_plan_new.form_plan .form_box{
	padding: 6px 0 25px 0;
}
.head_top span{
	color: #fff;
}
}
#tab input{pointer-events:none;}
