/*css for blur bg*/

@import "./sass/common.scss";


.center_box{
    padding: 24px 20px 0;
}

@media (min-width:768px){
  .white_common_bg{
    background: #fff;  
  }
  .center_box{
    padding: 24px 24px 0;
    max-width: 370px;
    margin: 0px auto;
    border-radius: 15px;
  }
  .center_box.center_box_big{
    width: 570px;
    max-width: 570px;
  }
  .blur_bg{
    background:url(./images/blur_bg.jpg);
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    min-height: 100vh;
  }
}